.login-card {
    width: 448px;
    height: 500px;
    padding: 48px 40px 36px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20vh;

    .logo {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

.login-input {
    position: relative;

    input {
        box-sizing: border-box;
        outline-style: none; // focus 外边框
        border: 1px solid #ccc;
        border-radius: 3px;
        width: 100%;
        padding: 18px 15px;

        &::-webkit-input-placeholder {
            opacity: 0;
        }
    }

    .placeholder {
        color: #80868b;
        position: absolute;
        bottom: 17px;
        left: 10px;
        background-color: #fff;
        transition: ease 150ms;
    }
}

.login-input.focus {
    input {
        border: 2px solid var(--primary-color);
    }

    .placeholder {
        color: var(--primary-color);
        transform: translate(-10px, -28px) scale(0.9);
    }
}

.login-input.hasData {
    input {
        border: 1px solid #ccc;
    }

    .placeholder {
        color: #80868b;
        transform: translate(-10px, -28px) scale(0.9);
    }
}