.text-primary {
    color: var(--primary-color);
}

.text-danger {
    color: var(--danger-color);
}

.cursor-point {
    cursor: pointer;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
