// 用 data-* 屬性做出純 CSS 的 tooltip
// https://muki.tw/tech/pure-css-tooltip-data-tag/
// 缺點: 顯示範圍受到父層的限制

.tooltip {
    position: relative;

    &:hover {
      cursor: pointer;
      
      &:before {
        opacity: 1;
        display: block;
        transform: scale(1);
        transition: ease .3s;
    }
    }

    &:before {
      content: attr(data-tooltip);
      background: rgba(0, 0, 0, 0.7);
      border-radius: 2px;
      color: #fff;
      font-size: .9rem;
      padding: 8px;
      position: absolute;
      right: -45%;
      top: 120%;
      white-space: pre;
    }

    &:before {
      opacity: 0;
      transform: scale(0);
    }
}